<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Portfolio:</b>
  <%= @service.portfolio %>
</p>

<p>
  <b>Tags:</b>
  <%= @service.tags %>
</p>

<p>
  <b>Client:</b>
  <%= @service.client %>
</p>

<p>
  <b>Desc:</b>
  <%= @service.desc %>
</p>


<%= link_to 'Tests', tests_path(:service => @service.id) %> |
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
