<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="label"><%= f.label :name %></span>
    <span class="input"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :service %></span>
    <span class="select"><%=
    select_tag(:service, options_from_collection_for_select(Service.all,
                                                            :id,
                                                            :name)) %></span></span>

  </div>
  <div class="field">
    <span class="label"><%= f.label :check_url %></span>
    <span class="input"><%= f.text_field :check_url %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :uuid %></span>
    <span class="input"><%= f.text_field :uuid %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :enabled %></span>
    <span class="input"><%= f.check_box :enabled %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :tags %></span>
    <span class="input"><%= f.text_field :tags %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :opmode %></span>
    <span class="input"><%= f.text_field :opmode %></span>
  </div>
  <div class="field">
    <span class="label"><%= f.label :status %></span>
      <span class="input"><%= f.text_field :status %></span>
  </div>
  <div class="actions">
    <span class="button"><%= f.submit %></span>
  </div>
<% end %>
